<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @mergeable %>
	<h4><%= _('Merge Articles') %></h4>
	<%= form_tag({:action => "edit", :id => form_action[:id]} , :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>
		<%= label_tag 'merge_id', _('Article ID') %>
		<div class='input'>
			<%= text_field 'merge', 'id', {:name => 'merge_with', :class => 'span5'}  %>
		</div>
		<%= submit_tag _('Merge') %>
	<% end %>
<% end %>